.container {
  display: flex;
}

.container-left {
  background-color:white;
  margin: 20px 30px;
  padding: 20px;
  width: 50%;
  text-align: center;
  border-radius: 5px;
}

.container-left h1 {
  font-size: 35px;
}

.container-left img {
  border-radius: 5px;
  width: 500px;
  margin: 40px 0 10px;
}

.group-images {
  margin: 50px auto;
}

.group-images img {
  margin: 10px;
  border-radius: 5px;
  width: 150px;
}

.container-right {
  margin: 0;
  padding: 20px;
  width: 50%;
  justify-items: center;
}

.info {
  display: block;
  margin: 0 20px 40px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  height: 200px;
  width: 100%;
  max-height: 300px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.property-card {
  margin: 10px 0;
  /* Espaciado vertical entre filas */
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
}

.property-card img {
  width: 200px;
  border-bottom: 1px solid #ddd;
}

.property-card h2 {
  font-size: 18px;
  margin: 10px 0;
}

.property-card h3 {
  font-size: 16px;
  color: #007bff;
  margin: 5px 0;
}

.property-card p {
  font-size: 14px;
  color: #555;
  margin: 10px 0;
}

.property-card a, button{
  display: inline-block;
  text-decoration: none;
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  
}

button {
  margin: 20px 10px;
}
.property-card a:hover {
  background-color: #0056b3;
}
