.search-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
    height: 200px;
    background-image: url("/assets/images/interior.jpg");
    background-size: cover;
    background-position: center;

}

.search-bar input{
    width: 400px;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Distribuye tarjetas uniformemente */
    gap: 20px;
    /* Espaciado entre tarjetas */
}

.property-card {
    flex: 1 1 calc(25% - 20px);
    /* 25% del ancho del contenedor menos el gap */
    box-sizing: border-box;
    /* Incluye padding y borde en el ancho */
    margin: 10px 0;
    /* Espaciado vertical entre filas */
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
}

.property-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.property-card h2 {
    font-size: 18px;
    margin: 10px 0;
}

.property-card h3 {
    font-size: 16px;
    color: #0056b3;
    margin: 5px 0;
}

.property-card p {
    font-size: 14px;
    color: #555;
    margin: 10px 0;
}

.property-card a {
    display: inline-block;
    text-decoration: none;
    background-color: #0056b3;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.property-card a:hover {
    background-color: #0056b3;
}